<!DOCTYPE html>
<html>
  <head>
    <title>Login.gov Data Explorer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'blazer/application' %>

  </head>

  <body>
    <div class='container'>
      <% if admin_signed_in? %>
        <%= button_to 'Sign out', auth_sign_out_path, method: :delete %>
      <% end %>
      <% if notice.present? %>
        <p class="alert alert-primary"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <p class="alert alert-warning"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
