<!DOCTYPE html>
<html>
  <head>
    <title>Login.gov Data Explorer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'blazer/application' %>
    <%= stylesheet_link_tag 'application' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <div class='container'>
      <%= render 'shared/flash' %>
      <%= yield %>
    </div>
  </body>
</html>
